@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,400&display=swap');

html {
    min-height: 100%;
}

body {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

// NAV BAR

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.6);
    // box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    gap: 20px;
    padding: 0px 40px;
    height: 100vh;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

.title {
    margin-top: 40px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    padding: 10px 0px;
    width: 150px;
}

.btn:hover {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.btn.active {
    border-bottom: 2px solid black;
}

.btn.active:hover {
    border-bottom: 2px solid black;
}

#addProjectBtn {
    margin-bottom: 40px;
}

// ADD PROJECT POPUP

.add-project-popup {
    display: none;
}

.add-project-popup.active {
    display: block;
}

.input-add-project-popup {
    font-size: 16px;
    width: 150px;
}

.add-project-popup-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-project-popup-buttons .btn {
    width: 75px;
}




// CONTENT

.content {
    width: 100%;
    height: 100vh;
}

// MAIN

// PROJECT NAV BAR

.project-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    min-height: 84vh;
    flex: 1;
}


h1 {
    text-align: start;
    width: 100%;
    letter-spacing: 4px;
    font-size: 50px;
    margin: 0;
}

// TASK

.button-task {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.task-panel {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
}

.left-task-panel {
    display: flex;
    align-items: center;
    max-width: 50%;
    min-width: 50%;
}

i {
    font-size: 18px;
}

.close-btn {
    font-size: 20px;
    padding: 2px 9px 4px 9px;
    background-color: transparent;
    border: none;
    transition: 0.15s;
}

.close-btn:hover {
    font-size: 20px;
    background-color: rgb(217, 217, 217);
    border-radius: 50px;
    border: none;
}

// FOOTER

.footer {
    color: black;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.footer p {
    margin: 0;
}

.footer i {
    color: #3b3b3b;
    font-size: 30px;
}

// MEDIA QUERIES

@media(max-width: 1200px) {
    .main {
        justify-content: center;
    }
}

@media(max-width: 850px) {
    .main {
        gap: 50px;
    }
}

@media(max-width: 650px) {
}